@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Regular.ttf) format(truetype);
}
@font-face{
	font-family: 'PT serif';
	src: url(../fonts/PT_Serif-Web-Regular.ttf) format(truetype);
}
* {
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html, body, #wrap {height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 80px;z-index: -1;}  /* debe ser el mismo alto que el footer */

#footer {
	position: relative;
	margin-top: -80px; /* valor negativo del alto del footer */
	height: 80px;
	clear:both;
	color: #d3d3d3;
	border-top:1px solid #a3a3a3;
	background-color:#1B242C;/*#1F2128;*/
	padding-top:22px;	
}
.clearf:after {content: ".";
	display: block;
	height: 0;
	clear: both;
}
.clearf {display: inline-block;}
/* Hides from IE-mac \*/
html .clearf { height: 1%;}
.clearf {display: block;}
/* End hide from IE-mac */
#footer a.btn{
	background: #181D20;
	border: 0 none;
}
#footer a.btn:hover,
#footer a.btn:active{
	background: #316189;
	border: 0 none;
}
body{
	font-family: Open Sans, Helvetica, sans-serif;
	background-color:#eeeeee;
	margin-top: 145px;
}
.contenido{
	padding-bottom: 20px;
}
/*css de los paneles de novedades*/ 
.content{
	background-color: #fdfdfd;
	border-radius: 3px;
	border: 1px solid #dfdfdf
	box-shadow: 0 0 2px 1px #e4e4e4;
	-webkit-box-shadow: 0 0 2px 1px #e4e4e4;
	padding: 6px 4px;
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin: 0 5px;
}
.caption {
    position:absolute;
    top:0;
    right:0;
    /*background:rgba(66, 139, 202, 0.75);*/
    background: rgba(0,0,0,0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
div.img-height{
	height: 240px;	
	overflow: hidden;
	border:1px solid #c3c3c3; 
}
.thumbnail .img-height img {
    width: 100%;
}
.caption h4{
	text-align: center;
	font-weight: bold;
}
.caption p{
	text-align: justify;
}
.caption a{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
/*Css del filtro*/
.clickable{
    cursor: pointer;   
}
.panel-heading div {
  margin-top: -18px;
  font-size: 15px;
}
.panel-heading div span{
  margin-left:5px;
}

/*jquery slider*/
.slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  border:1px solid #dfdfdf
}

.slider li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  background: transparent;
}

.slider li:first-child {
  position: relative;
  display: block;
  float: left;
}

.slider img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
div.caption-slide{
  background: rgba(0,0,0,0.8);
  color: #dfdfdf;
  padding:7px;
  position: relative;/*absolute*/
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}
.slider a.btn{
	position: absolute;
	bottom: 43px;
	right: 10px;
}
.txt-caption{
	color: #fff;
	display: inline-block;
}
.txt-caption > p{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.txt-caption p > strong{
	font-size: 18px;
}
@media(max-width: 768px){
	.slider a.btn{
		font-size: 11px;
	}
	.txt-caption > p{
		margin: 0px;
		padding: 0px;
		font-size: 12px;
	}
	.txt-caption p > strong{
		font-size: 15px;
	}	
}

/*Encabezado */


.contenedor {
	width: 100%;
	margin:auto;
}		
.contenedor-head{
	width: 100%;
	padding: 10px;
	height: 75px;
	background-color: #fff;
}
.contenedor-head .head{			
	line-height: 50px;
	width: 100%;
}
.contenedor-head .head img{
	max-width: 8%;
    position: absolute;
    top: 0px;
    min-width: 70px;
}
.menu_bar{
	display: none;
}
header{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}
header nav {
	background:#2980b9;
	box-shadow:0px 2px 3px rgba(0,0,0,.3);
	margin-bottom:10px;
	padding -left: 16px;
	width: 100%;
	text-align: center;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li a {
	color:#fff;
	display: block;
	padding:13px;
	text-decoration: none;
}
header nav ul li.activado a{
	background: #eee;
	color: #3d3d3d;
}

header nav ul li a:hover,
header nav ul li a:focus{
	background:#eee;
	text-decoration: none;
	color: #3d3d3d;
}

header nav li .menu-dropdown{
	background-color: #eeeeee;
	display: none;
	position: absolute;			
	z-index: 1000;			    
    width: 180%;
    max-height: 250px;
    overflow: auto;	  
    font -size: 14px;
    text-align: left;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

header nav ul .menu-dropdown li{
	display: block;
	overflow: hidden;
}

header nav ul .menu-dropdown li a:hover{
	background:#c7c7c7; 
	color: #3d3d3d;
}

header nav ul .menu-dropdown li > a{
	display: block;
	color: #3d3d3d;
	font-size: 13px;
	padding: 8px;
}
/* para division del drop de hospitalizacion*/
.list-head{
    display: block;
    padding: 12px 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 0; 
    color: #2980b9;
}
@media screen and (max-width: 1100px) {
	
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:75px;
		background: #2980b9;
		box-shadow:0px 2px 3px rgba(0,0,0,.3);
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 10px;
		color: #fff;
		overflow: hidden;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 30px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin-top: 50px;
		padding-left: 0px;
		overflow: auto;
		background: #eeeeee;
		text-align: left;
	}

	header nav li ul{
		max-width: 100%;
	}
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
	header nav ul li a {
		display: block;
		color: #3d3d3d;
	}
	header nav ul li a:hover {
	    color: #fff;
	    background: #2980b9;
	}
	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}
	header nav ul li .caret {
		float: right;
	}

	header nav li .menu-dropdown{
		max-height: 100%;
		overflow:visible;
	}
}
/*Fin del Encabezado*/

/*barra de progreso*/
.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

/*css de galerias*/
.img-hidden{
   height: 200px;
   overflow: hidden;
   margin-bottom: 20px;
}
@media(max-width: 767px){
	.img-hidden{
	   height: 300px;
	   overflow: hidden;
	   margin-bottom: 20px;
	}	
}
.img-hidden:hover{
	border:1px solid #0000cf;
	border-radius: 7px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease; 
}
.gallery{
    display: inline-block;
    margin-top: 20px;
}

.errors h1{
	margin-top: 30px;
	color:#fff;
	font-weight:bold;
	text-shadow: 1px 1px 3px #171717;
}
.errors p{
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 3px #171717;
}
.errors .btn:hover{
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
/*clase para los titulos de las paginas*/
.titulo{
	color: #000;
	font-family: 'PT serif', serif, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #8F8F8F;
}
.subtitulo{
	color: #000;
	font-family: 'PT serif', serif, Helvetica, sans-serif;
	font- size: 28px;
	text-shadow: 1px 1px 2px #8F8F8F;
}
.title-cont{

	background:#4676A5;/* #77A9DA;*/
	border-bottom:1px solid #e8e8e8;
	position: relative;
	left: -15px;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 70px;
	width: 100%;
}
 .fondo-title{
 	background: #4676A5;
 	border-bottom:1px solid #e8e8e8;
	/*background: rgba(42, 125, 207, 0.6);*/
	height: 70px;
	position: absolute;
	right: -30px;
	width: 100%;
	z-index: -1	
}
.title-cont > h2{
	color: #efefef;
	text-shadow: 1px 1px 2px #8F8F8F;
	font-size: 30px;
	font-weight: bold;
	padding: 19px 0px 19px 17px;
	
}

@media(max-width: 768px){
	.title-cont > h2{
		font-size:155%;
		position: relative;
		top:0px;
	}	
}

.zoom {
    position: relative;
    padding: 0px;
    margin: 0 5px;
}
.zoom-caption {
    position:absolute;
    top:0;
    left:0%;
    /*background:rgba(66, 139, 202, 0.75);*/
    background: rgba(0,0,0,0.75);
    border-radius:6px; 
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
div.image-height{
	hei ght: 260px;	
	width: 100%;
	overflow: hidden;
	bo rder:1px solid #c3c3c3; 
}
.zoom .image-height img {
    width: 100%;
}
.zoom-caption i{
	margin: 30% auto;
	color: #fff;
}
/* CSS PARA IFRAME DE VIDEO EN FANCYBOX */
.fancybox-type-iframe .fancybox-nav {
    width: 60px;
}
.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}
.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}
.fancybox-type-iframe .fancybox-next {
    right: -60px;
}
.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}
/* CSS PARA IFRAME DE VIDEO EN FANCYBOX */
.line-left{
	border-right:1px solid #cdcdcd;
}
@media(max-width: 768px){
	.line-left{
		border-right:none;
	}	
}
.mg-img-top{
	margin-top: 45px;
}

.mapa > iframe{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 400px;
	margin-bottom:20px;
	border: 1px solid #cdcdcd;
}

/*CSS LOGIN*/

.container-login {
    min-height: 0;
    max-width: 480px;
    color: #333333;
    margin-top: 40px;
    padding: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}
#top-bar {
    display: inherit;
    border: 1px solid #dfdfdf;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    float: none;
}
.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #428bca;
    border: medium none;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0;
}
.container-login .nav-tabs.nav-justified > .active > a,
.container-login .nav-tabs.nav-justified > .active > a:hover,
.container-login .nav-tabs.nav-justified > .active > a:focus {
    background: #ffffff;
    color: #333333;
}
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #3276b1;
}
.tabs-login {
    background: #ffffff;
    border: medium none;
    margin-top: -1px;
    padding: 10px 30px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.container-login h2 {
    color: #428bca;
}
.container-login .btn-primary{
	padding: 10px;
	border-radius: 0px;
}
.italic{
	font-style: italic;
}

/*color de fondo para secciones de tabla*/
/*encabezados*/
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
  background-color: #529EE8;
  color: #efefef;
}

/*cuerpo*/
.table > thead > tr > td.default,
.table > tbody > tr > td.default,
.table > tfoot > tr > td.default,
.table > thead > tr > th.default,
.table > tbody > tr > th.default,
.table > tfoot > tr > th.default,
.table > thead > tr.default > td,
.table > tbody > tr.default > td,
.table > tfoot > tr.default > td,
.table > thead > tr.default > th,
.table > tbody > tr.default > th,
.table > tfoot > tr.default > th {
  background-color: #fff;
}
.table-hover > tbody > tr > td.default:hover,
.table-hover > tbody > tr > th.default:hover,
.table-hover > tbody > tr.default:hover > td,
.table-hover > tbody > tr.default:hover > th {
  background-color: #ededed;
  cursor: pointer;
}
.primary>th{
	font-size: 17px;
}
/*css para modal*/
.style-modal{
	border-radius: 0px;
}
.fondo-head{
	background: #529EE8;
	color: #fff;
}
.fondo-body{
	background: #ededed;
}
h4.title-info{
	padding-bottom: 5px;
	border-bottom: 1px solid #bce8f1;
}

/* CONGRESO */
.table.table-congreso > thead:first-child > tr:first-child > th{
	border-top: 1px solid #3d3d3d;
}
.table-bordered.table-congreso > thead > tr > th, 
.table-bordered.table-congreso > tbody > tr > th, 
.table-bordered.table-congreso > tfoot > tr > th, 
.table-bordered.table-congreso > thead > tr > td, 
.table-bordered.table-congreso > tbody > tr > td, 
.table-bordered.table-congreso > tfoot > tr > td{
	border: 1px solid #3d3d3d;
}
.table-hour {
    width: 120px;
}
.hour{
	font-weight: bold;
	text-align: center;
}
.table > thead > tr > td.gray,
.table > tbody > tr > td.gray,
.table > tfoot > tr > td.gray,
.table > thead > tr > th.gray,
.table > tbody > tr > th.gray,
.table > tfoot > tr > th.gray,
.table > thead > tr.gray > td,
.table > tbody > tr.gray > td,
.table > tfoot > tr.gray > td,
.table > thead > tr.gray > th,
.table > tbody > tr.gray > th,
.table > tfoot > tr.gray > th {
  background-color: #7d7d7d;
  color: #efefef;
}

/*** CSS PARA TABLAS CONGRESO ***/
.dia1, .dia2, .dia3  {border-collapse:collapse;border-spacing:0;}
.dia1 td, .dia2 td, .dia3 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.dia1 th, .dia2 th, .dia3 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
/* css para tabla del dia 1 */
.dia1 .dia1-nrbg{font-weight:bold;background-color:#aa55bf;color:#efefef;vertical-align:top}
.dia1 .dia1-51l9{background-color:#b79415;color:#efefef;vertical-align:top}
.dia1 .dia1-jg09{font-weight:bold;background-color:#7d7d7d;color:#efefef;vertical-align:top}
.dia1 .dia1-mruk{font-weight:bold;background-color:#1fa67a;color:#efefef;vertical-align:top}
.dia1 .dia1-6y8c{font-weight:bold;background-color:#529ee8;color:#efefef;vertical-align:top;text-align: center;}
.dia1 .dia1-yw4l{vertical-align:top}
.dia1 .dia1-9hbo{font-weight:bold;vertical-align:top}
.dia1 .dia1-7o34{font-weight:bold;background-color:#c1213f;color:#efefef;vertical-align:top}
.dia1 .dia1-xulv{background-color:#1fa67a;color:#efefef;vertical-align:top}
.dia1 .dia1-wv4z{background-color:#aa55bf;color:#efefef;vertical-align:top}
.dia1 .dia1-edxg{font-weight:bold;background-color:#b79415;color:#efefef;vertical-align:top}
.dia1 .dia1-16g6{background-color:#7d7d7d;color:#efefef;vertical-align:top}

/* css para tabla del dia 2 */
.dia2 .dia2-nrbg{font-weight:bold;background-color:#aa55bf;color:#efefef;vertical-align:top}
.dia2 .dia2-51l9{background-color:#b79415;color:#efefef;vertical-align:top}
.dia2 .dia2-mruk{font-weight:bold;background-color:#1fa67a;color:#efefef;vertical-align:top}
.dia2 .dia2-chad{background-color:#529ee8;color:#efefef;vertical-align:top}
.dia2 .dia2-3wwl{background-color:#dd8d33;color:#efefef;vertical-align:top}
.dia2 .dia2-uo8f{background-color:#329a9d;color:#efefef;vertical-align:top}
.dia2 .dia2-4ocu{font-weight:bold;background-color:#529ee8;color:#efefef;text-align:center;vertical-align:top}
.dia2 .dia2-yw4l{vertical-align:top}
.dia2 .dia2-fim4{font-weight:bold;background-color:#dd8d33;color:#efefef;vertical-align:top}
.dia2 .dia2-7o34{font-weight:bold;background-color:#c1213f;color:#efefef;vertical-align:top}
.dia2 .dia2-xulv{background-color:#1fa67a;color:#efefef;vertical-align:top}
.dia2 .dia2-9hbo{font-weight:bold;vertical-align:top}
.dia2 .dia2-edxg{font-weight:bold;background-color:#b79415;color:#efefef;vertical-align:top}
.dia2 .dia2-6y8c{font-weight:bold;background-color:#529ee8;color:#efefef;vertical-align:top}
.dia2 .dia2-wv4z{background-color:#aa55bf;color:#efefef;vertical-align:top}
.dia2 .dia2-oraa{font-weight:bold;background-color:#329a9d;color:#efefef;vertical-align:top}
.dia2 .dia2-dmjv{font-weight:bold;background-color:#9b9b9b;color:#efefef;vertical-align:top}

/* css para tabla del dia 3 */
.dia3 .dia3-51l9{background-color:#b79415;color:#efefef;vertical-align:top}
.dia3 .dia3-1x50{background-color:#aa55bf;vertical-align:top}
.dia3 .dia3-mruk{font-weight:bold;background-color:#1fa67a;color:#efefef;vertical-align:top}
.dia3 .dia3-3wwl{background-color:#dd8d33;color:#efefef;vertical-align:top}
.dia3 .dia3-4ocu{font-weight:bold;background-color:#529ee8;color:#efefef;text-align:center;vertical-align:top}
.dia3 .dia3-yw4l{vertical-align:top}
.dia3 .dia3-fim4{font-weight:bold;background-color:#dd8d33;color:#efefef;vertical-align:top}
.dia3 .dia3-7o34{font-weight:bold;background-color:#c1213f;color:#efefef;vertical-align:top}
.dia3 .dia3-xulv{background-color:#1fa67a;color:#efefef;vertical-align:top}
.dia3 .dia3-edxg{font-weight:bold;background-color:#b79415;color:#efefef;vertical-align:top}
.dia3 .dia3-wv4z{background-color:#aa55bf;color:#efefef;vertical-align:top}
.dia3 .dia3-yt8t{font-weight:bold;background-color:#656565;color:#efefef;vertical-align:top}